.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: var(--space-2xl) 0 var(--space-xl) 0;
  background-color: var(--bg-color);
}

.hero-grid {
  align-items: end;
}

.hero-title {
  margin: 0;
  color: var(--text-color);
  margin-left: -5px; /* Optical adjustment */
}

.right-align {
  text-align: right;
}

.hero-subtitle-block {
  margin-top: var(--space-xl);
}

.hero-scroll-block {
  margin-top: var(--space-xl);
}

.col-start-9 {
  grid-column-start: 9;
}

@media (max-width: 1024px) {
  .col-start-9 {
    grid-column-start: auto;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: var(--space-2xl) 0 var(--space-lg) 0;
  }
  
  .hero-subtitle-block, .hero-scroll-block {
    margin-top: var(--space-md);
  }
  
  .hero-scroll-block p {
    text-align: left !important;
  }
}
